body {
    margin: 0;
    padding: 0;
    width: 800px;
    background: url(images/3D-Palms-Beach-3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    margin: 0;
    margin-left: 400px;
    left: 200px;
    top: 10px;
    display: block;
    position: absolute;
    z-index: 10;
    color: #065503;
}

h2 {
    margin-left: 400px;
    left: 275px;
    top: 25px;
    display: block;
    position: absolute;
    z-index: 10;
    color: #065503;
}

#loadingMenu {
    margin-left: 400px;
    margin-top: 100px;
    width: 700px;
    height: 800px;
    padding: 0px;
    position: absolute;
    background-image: url("images/background_loading_menu.png");
}

#startBotton {
    width: 300px;
    height: 75px;
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 70%;
    font-size: 30px;
    font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-style: italic;
    text-align: center;
    background-color: #eaef70;
    color: green;
}

#infoBotton {
    width: 200px;
    height: 50px;
    position: relative;
    top: 500px;
    left: 250px;
    font-size: 70%;
    font-size: 30px;
    font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-style: italic;
    text-align: center;
    background-color: #eaef70;
    color: green;
}

#info {
    display: none;
    background-color: #eaef70;
    top: 240px;
    position: relative;
    text-decoration: none;
    font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 25px;
    text-align: center;
    color: green;
}

#gameOver {
    margin-left: 600px;
    margin-top: 300px;
    position: absolute;
    z-index: 10;
    display: none;
}

#canvas {
    display: none;
    margin-left: 400px;
    margin-top: 100px;
}

#progressContainer {
    display: none;
    margin-left: 400px;
}

#scoreContainer {
    display: none;
    margin-left: 450px;
}

#timerContainer {
    display: none;
}

#timer {
    width: 120px;
    height: 25px;
    font-family: Consolas;
}

#timerContainer {
    margin-bottom: 10px;
    float: right;
}

#progressBar {
    width: 700px;
    border: 0px;
    background-color: #f3f3f3;
    height: 18px;
    border-radius: 9px;
}

#startPause, #reset, #scoreContainer {
    display : none;
}

canvas {
    margin-left: 400px;
    margin-top: 100px;
    left: 33%;
    position: absolute;
}

header {
    float: right;
    margin-right: 25%;
}

.window, .screen {
    float: left;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}
