#game_screen {
    width: 950px;
    height: 450px;
    padding: 10px;
    border: 1px solid black;
}

#timer {
    width : 120px;
    height : 25px;
    font-family : Consolas;
}

#timerContainer {
    float : right;
    margin-right : 65%;
}

#progressBar {
    width : 550px;
    border : 0px;
    background-color : #f3f3f3;
    height : 18px;
    border-radius : 9px;
}

canvas {
    left: 33%;
    margin-left: 10px;
}

header {
    float: right;
    margin-right: 25%;
}

.window, .screen {
    float: left;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}
